:root {
    --orange: #ED8313;
    --footer-color: #0B121D;
    --background-color: #ECF2F0;
    --paragraph:'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading:'Montserrat', 'Open Sans', 'Helvetica Neue', sans-serif;

}